<form action="/ping" method="post">
  <label for="addresses">Add ip or domain addresses to check (comma separated):</label>
  <br />
  <textarea id="addresses" name="addresses" type="text" rows="5" cols="33"></textarea>
  <br />
  <input type="submit"></input>
</form>